<style>
/* css alla men peggio */
  .formInput {
    display: flex;
    flex-direction: column;
  }

  .mat-dialog-container {
    /* padding: 0px; */
  }

  .mat-dialog-title {
    width: 100%;
    font-size: 20px;
  }
</style>

<div class="container">
  <h1 mat-dialog-title *ngIf="data.mode == 'rent'" >Preleva bici: {{data.rent.codeBike}}</h1>
  <h1 mat-dialog-title *ngIf="data.mode == 'rent'" >Parcheggio: {{data.bike.rack}}</h1>
  <h1 mat-dialog-title *ngIf="data.mode == 'release'">Rilascio bici: {{data.rent.codeBike}}</h1>
  <div mat-dialog-content>
    <div class="formInput">
      <p *ngIf="data.mode == 'release'">
        Parcheggio: {{data.bike.rack}} dista {{data.distRack}} m.
      </p>
      <mat-form-field>
        <label>Ora Inizio:</label>
        <input matInput [(ngModel)]="data.rent.timeInit" readonly>
      </mat-form-field>
      <mat-form-field *ngIf="data.mode == 'release'">
        <label>Ora Fine:</label>
        <input matInput [(ngModel)]="data.rent.timeEnd" readonly>
      </mat-form-field>
      <mat-form-field *ngIf="data.mode == 'release'">
        <label>Tempo:</label>
        <input matInput [(ngModel)]="data.rent.tempo" readonly>
      </mat-form-field>
      <mat-form-field *ngIf="data.mode == 'release'">
        <label>Costo:</label>
        <input matInput [(ngModel)]="data.rent.costo" readonly>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onClose()">Annulla</button>
    <button mat-button (click)="onConfirm()">Conferma</button>

    <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Conferma</button> -->
  </div>
</div>
