<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          {{ 'VIEW_TITLE' | translate }}
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<mat-accordion class="example-headers-align">

  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" (closed)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'MAP' | translate }}
      </mat-panel-title>
      <mat-panel-description>
        {{ 'SELECT_THROUGH_MAP' | translate }}
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="showMap" class="map-responsive" id="mapView">
      <img src="../../../assets/images/icons/baseline-local_parking-black-36/1x/baseline_local_parking_black_36dp.png">  {{ 'BIKE_PARKING' | translate }}
      <img src="../../../assets/images/icons/bike_icon_green.png">  {{ 'BIKE_AVAILABLE' | translate }}
      <img src="../../../assets/images/icons/baseline-directions_bike-black-36/1x/baseline_directions_bike_black_36dp.png">  {{ 'BIKE_IN_USE' | translate }}
      <img src="../../../assets/images/icons/baseline-person_pin_circle-black-36/1x/baseline_person_pin_circle_black_36dp.png">
      {{ 'USER_POSITION' | translate }}
    <agm-map [latitude]="latitudine" [longitude]="longitudine" [zoom]="zoom"
             [fullscreenControl]='true' [mapTypeControl]='true'>

      <!-- Marcatori  bici rack -->
      <agm-marker *ngFor="let kk of bikeRack; let ind = index"
      [latitude]="kk.latitudine" [longitude]="kk.longitudine"
      [label]="kk.codice"
      [markerDraggable]="isAdmin"
      (dragEnd)="dragBike($event, kk)"
      (markerClick)="selectBike(kk, 0)"
      color="black"
      [iconUrl]="'../../../assets/images/icons/bike_icon_green.png'"></agm-marker>

      <!-- Marcatori  bici user -->
      <ng-container *ngIf="latLong == false">
        <agm-marker *ngFor="let kk of bikeUser; let ind = index"
        [latitude]="kk.latitudine" [longitude]="kk.longitudine"
        [label]="kk.codice"
        [markerDraggable]="true"
        (dragEnd)="dragBike($event, kk)"
        (markerClick)="selectBike(kk, 1)"
        color="black"
        [iconUrl]="'../../../assets/images/icons/baseline-directions_bike-black-36/1x/baseline_directions_bike_black_36dp.png'"></agm-marker>
      </ng-container>
      <ng-container *ngIf="latLong == true">
        <agm-marker *ngFor="let kk of bikeUser; let ind = index"
        [latitude]="kk.latitudine" [longitude]="kk.longitudine"
        [label]="kk.codice"
        (markerClick)="selectBike(kk, 1)"
        color="black"
        [iconUrl]="'../../../assets/images/icons/baseline-directions_bike-black-36/1x/baseline_directions_bike_black_36dp.png'"></agm-marker>
      </ng-container>

      <!-- Marcatori  rack-->
      <agm-marker *ngFor="let kk of racks; let ind = index"
        [latitude]="kk.latitudine" [longitude]="kk.longitudine"
        [label]="kk.codice"
        [markerDraggable]="false"
        (markerClick)="selectRack(kk)"
        color="black"
        [iconUrl]="'../../../assets/images/icons/baseline-local_parking-black-36/1x/baseline_local_parking_black_36dp.png'">
      </agm-marker>

      <!-- Marcatore  user-->
      <agm-marker
      *ngIf="latLong"
      [latitude]="userLat"
      [longitude]="userLong"
      [markerDraggable]="!userLocation"
      (dragEnd)="dragUser($event)"
      [iconUrl]="'../../../assets/images/icons/baseline-person_pin_circle-black-36/1x/baseline_person_pin_circle_black_36dp.png'"></agm-marker>

      </agm-map>
    </div>

    <mat-action-row>
      <div class="btn-container">
        <button mat-button (click)="rackList()">{{ 'PARKING' | translate }}</button>
        <!--<button mat-button *ngIf="!isAdmin" (click)="preleva()">{{ 'BORROW' | translate }}</button>-->
        <button mat-button *ngIf="!isAdmin" (click)="rilascia()">{{ 'RELEASE' | translate }}</button>
        <button mat-button (click)="rentList()">{{ 'RESERVATIONS' | translate }}</button>
        <button mat-button (click)="commentList()">{{ 'COMMENTS' | translate }}</button>
      </div>
      <div class="btn-mobile-container">
        <button mat-icon-button matTooltip="Parcheggi" (click)="rackList()">
          <mat-icon>local_parking</mat-icon>
        </button>
        <!--<button mat-icon-button *ngIf="!isAdmin" (click)="preleva()">-
          <mat-icon>lock_open</mat-icon>
        </button>-->
        <button mat-icon-button *ngIf="!isAdmin" (click)="rilascia()">
          <mat-icon>lock</mat-icon>
        </button>
        <button mat-icon-button (click)="rentList()">
          <mat-icon>list_alt</mat-icon>
        </button>
        <button mat-icon-button (click)="commentList()">
          <mat-icon>comment</mat-icon>
        </button>
      </div>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" (closed)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'LIST' | translate }}
      </mat-panel-title>
      <mat-panel-description>
        {{ 'SELECT_THROUGH_LIST' | translate }}
        <mat-icon>list</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="table-container">

      <table class="table table-hover">
    <thead>
      <tr>
        <th>{{ 'ID' | translate }}</th>
        <th>{{ 'CODE' | translate }}</th>
        <th>{{ 'STATE' | translate }}</th>
        <th>Km</th>
        <th *ngIf="isAdmin">Rack</th>
        <th>{{ 'COMMENTS' | translate }}</th>
        <th *ngIf="!isAdmin">{{ 'OPERATIONS' | translate }}</th>
        <th *ngIf="isAdmin">{{ 'EDIT' | translate }}</th>
      </tr>
    </thead>
    <tbody>

      <!-- bici utente -->
      <tr *ngFor="let kk of bikeUser;let ind = index">
        <td>{{ind + 1}}</td>
        <td>{{kk.codice}}</td>
        <td>{{kk.stato}}</td>
        <td>{{kk.totKm}}</td>
        <td *ngIf="isAdmin">{{kk.rack}}</td>
        <!-- commenti -->
        <td><a [routerLink]="['/view-comment', kk.codice]" routerLinkActive="active">{{ 'COMMENTS' | translate }}</a></td>
        <td><a role="button" tabindex="0" data-toggle="modal" (click)="selectBike(kk,1)" routerLinkActive="active" data-target="#myModal">{{ 'RELEASE' | translate }}</a></td>
        <!--<td><button type="button" class="btn btn-danger" (click)="selectBike(kk,1)">{{ 'RELEASE' | translate }}</button></td>-->
      </tr>

      <!-- bici del rack -->
        <tr *ngFor="let kk of bikeRack;let ind = index">
          <td *ngIf="isAdmin || kk.stato == 'libero'">{{ind + 1}}</td>
          <td *ngIf="isAdmin || kk.stato == 'libero'">{{kk.codice}}</td>
          <td *ngIf="isAdmin || kk.stato == 'libero'">{{kk.stato}}</td>
          <td *ngIf="isAdmin || kk.stato == 'libero'">{{kk.totKm}}</td>
          <td *ngIf="isAdmin">{{kk.rack}}</td>

          <!-- commenti -->
          <td><a [routerLink]="['/view-comment', kk.codice]" routerLinkActive="active">{{ 'COMMENTS' | translate }}</a></td>

          <td *ngIf="!isAdmin && kk.stato == 'libero'">
            <a role="button" tabindex="0" data-toggle="modal" (click)="selectBike(kk,0)" routerLinkActive="active" data-target="#myModal">{{ 'BORROW' | translate }}</a>
            <!--<button mat-flat-button data-toggle="modal"
            (click)="selectBike(kk,0)" data-target="#myModal">{{ 'BORROW' | translate }}</button>-->
          </td>

          <td *ngIf="!isAdmin && (kk.stato != 'libero' && kk.stato != nameUser)"><a style="color:red">{{ 'NOT_AVAILABLE' | translate }}</a></td>
          <td *ngIf="isAdmin">
            <button type="button" class="btn btn-primary btn-sm" (click)="editBike(kk)">{{ 'EDIT' | translate }}</button>
          </td>

        </tr>
    </tbody>
  </table>
     </div>
    <mat-action-row>
      <div class="btn-container">
        <button mat-button (click)="rackList()">{{ 'PARKING' | translate }}</button>
        <!--<button mat-button *ngIf="!isAdmin" (click)="preleva()">{{ 'BORROW' | translate }}</button>-->
        <button mat-button *ngIf="!isAdmin" (click)="rilascia()">{{ 'RELEASE' | translate }}</button>
        <button mat-button (click)="rentList()">{{ 'RESERVATIONS' | translate }}</button>
        <button mat-button (click)="commentList()">{{ 'COMMENTS' | translate }}</button>
      </div>
      <div class="btn-mobile-container">
        <button mat-icon-button (click)="rackList()">
          <mat-icon>local_parking</mat-icon>
        </button>
        <!--<button mat-icon-button *ngIf="!isAdmin" (click)="preleva()">
          <mat-icon>lock_open</mat-icon>
        </button>-->
        <button mat-icon-button *ngIf="!isAdmin" (click)="rilascia()">
          <mat-icon>lock</mat-icon>
        </button>
        <button mat-icon-button (click)="rentList()">
          <mat-icon>list_alt</mat-icon>
        </button>
        <button mat-icon-button (click)="commentList()">
          <mat-icon>comment</mat-icon>
        </button>
      </div>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>

<!-- start footer Area -->
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>{{ 'QUICK_LINKS' | translate }}</h6>
          <ul>
            <li><a href="#">{{ 'JOBS' | translate }}</a></li>
            <li><a href="#">{{ 'BRAND_ASSETS' | translate }}</a></li>
            <li><a href="#">{{ 'INVESTOR_RELATIONS' | translate }}</a></li>
            <li><a href="#">{{ 'TERMS_OF_SERVICE' | translate }}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>{{ 'FEATURES' | translate }}</h6>
          <ul>
            <li><a href="#">{{ 'JOBS' | translate }}</a></li>
            <li><a href="#">{{ 'BRAND_ASSETS' | translate }}</a></li>
            <li><a href="#">{{ 'INVESTOR_RELATIONS' | translate }}</a></li>
            <li><a href="#">{{ 'TERMS_OF_SERVICE' | translate }}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>{{ 'RESOURCES' | translate }}</h6>
          <ul>
            <li><a href="#">{{ 'GUIDES' | translate }}</a></li>
            <li><a href="#">{{ 'RESEARCH' | translate }}</a></li>
            <li><a href="#">{{ 'EXPERTS' | translate }}</a></li>
            <li><a href="#">{{ 'AGENCIES' | translate }}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
        <div class="single-footer-widget">
          <h6>{{ 'FOLLOW_US' | translate }}</h6>
          <p>{{ 'FOLLOW_US_SUB' | translate }}</p>
          <div class="footer-social d-flex align-items-center">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>{{ 'NEWSLETTER' | translate }}</h6>
          <p>{{ 'NEWSLETTER_SUB' | translate }}</p>
          <div class="" id="mc_embed_signup">
            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
              <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                              <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                              <div style="position: absolute; left: -5000px;">
                  <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                </div>
              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
