<!doctype html>
<html lang="en">
<head>
<title>Rent-Bike</title>
<meta charset="utf-8">
</head>
<style>
agm-map {
  width: 100%;
  height: 50vh;
}

/* css alla men peggio */
#mapView {
  margin-top: 5%;
  margin-bottom: 5%;

  padding-top: 2%;
  padding-bottom: 2%;
}
</style>
<body>

<div class="container">

  <!-- pulsanti navigazione -->
  <div class="container">
    <button (click)="goBack()">Back</button>
  </div>

  <h1>Elenco Bici</h1>

<!-- mappa bici -->

<div class="map-responsive" id="mapView">
  <agm-map [latitude]="latitudine" [longitude]="longitudine" [zoom]="zoom"
           [fullscreenControl]='true' [mapTypeControl]='true'>

    <agm-marker *ngFor="let kk of bikeRack; let ind = index"
    [latitude]="kk.latitudine" [longitude]="kk.longitudine"
    [label]="kk.codice"
    [markerDraggable]="isAdmin"
    (dragEnd)="dragBike($event, kk)"
    (markerClick)="selectBike(kk, 0)"
    color="black"
    [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/green-dot.png'"></agm-marker>

    <agm-marker *ngFor="let kk of bikeUser; let ind = index"
    [latitude]="kk.latitudine" [longitude]="kk.longitudine"
    [label]="kk.codice"
    [markerDraggable]="true"
    (dragEnd)="dragBike($event, kk)"
    (markerClick)="selectBike(kk, 1)"
    color="black"
    [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/red-dot.png'"></agm-marker>

    <agm-marker *ngFor="let kk of racks; let ind = index"
    [latitude]="kk.latitudine" [longitude]="kk.longitudine"
    [label]="kk.codice"
    [markerDraggable]="false"
    (markerClick)="selectRack(kk)"
    color="black"
    [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'"></agm-marker>

    <agm-marker *ngIf="currentLat && currentLong"
    [latitude]="currentLat" [longitude]="currentLong" [label]="labelOptions"
    [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'"></agm-marker>

  </agm-map>
</div>

<!-- elenco bici -->

<div class="table-container" style="overflow: auto;">
  <table class="table">
    <thead>
      <tr>
        <td>Id</td>
        <td>Codice</td>
        <td>Stato</td>
        <td>Km</td>
        <td *ngIf="isAdmin">Rack</td>
        <td *ngIf="!isAdmin">Prenotazione</td>
        <td *ngIf="isAdmin">Edit</td>
      </tr>
    </thead>
    <tbody>

      <!-- bici utente -->
      <tr *ngFor="let kk of bikeUser;let ind = index">
        <td>{{ind + 1}}</td>
        <td>{{kk.codice}}</td>
        <td>{{kk.stato}}</td>
        <td>{{kk.totKm}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="selectBike(kk,1)">Rilascia</button>
        </td>
      </tr>

      <!-- bici del rack -->
        <tr *ngFor="let kk of bikeRack;let ind = index">
          <td *ngIf="isAdmin || kk.stato == 'libero'">{{ind + 1}}</td>
          <td *ngIf="isAdmin || kk.stato == 'libero'">{{kk.codice}}</td>
          <td *ngIf="isAdmin || kk.stato == 'libero'">{{kk.stato}}</td>
          <td *ngIf="isAdmin || kk.stato == 'libero'">{{kk.totKm}}</td>
          <td *ngIf="isAdmin">{{kk.rack}}</td>

          <!-- style="color:blueviolet" -->

          <td *ngIf="!isAdmin && kk.stato == 'libero'">
            <button type="button" class="btn btn-success" data-toggle="modal"
            (click)="selectBike(kk,0)" data-target="#myModal">Prenota</button>
          </td>

          <td *ngIf="!isAdmin && kk.stato != 'libero'"><a style="color:red">Non disponibile</a></td>
          <td *ngIf="isAdmin"><a [routerLink]="['/edit-bike', kk._id]" routerLinkActive="active"
            style="color:blueviolet">Edit</a></td>
        </tr>
    </tbody>
  </table>
</div>

</div>

</body>
</html>
