<!doctype html>
<html lang="en">
<head>
<title>Edit Rack Component</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  agm-map {
    width: 100%;
    height: 50vh;
  }

  /* css mappa */
  #mapView {
    margin-top: 2%;
    margin-bottom: 2%;

    padding-top: 2%;
    padding-bottom: 2%;
  }
  </style>
</head>
<body>

<div class="container">

<!-- pulsanti navigazione -->
<div class="container">
  <button (click)="goBack()">Back</button>
  <a [routerLink]="['/view', 'admin']" routerLinkActive="active">Map Rack</a>
</div>

  <!-- titolo -->
  <h1>Edit Parcheggio: {{curRack.codice}}</h1>

<!-- mappa -->
<div class="map-responsive" id="mapView">
  <agm-map [latitude]="latitudine" [longitude]="longitudine"
  [zoom]="zoom" [fullscreenControl]='true' [mapTypeControl]='true'>
    <agm-marker
    [label]="curRack.codice" [latitude]="curRack.latitudine" [longitude]="curRack.longitudine"
    [markerDraggable]="true"
    (dragEnd)="dragRack($event, curRack)"
    (markerClick)="infoRack(curRack)"
    color="white"
    [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'">

  </agm-marker>
  </agm-map>
</div>

<!-- form rack -->
<!-- (ngSubmit)="edit(rackEdit.value)" -->
<form class="form-horizontal" #rackEdit="ngForm" novalidate>

  <div class="form-content"> <!-- form content -->
  <div class="form-group">
    <label class="control-label col-sm-2" for="codice">Codice:</label>
      <div class="col-sm-10">
        <input name="codice" type="text" class="form-control" required value="{{codice}}" [(ngModel)]="codice" />
      </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="indirizzo">Indirizzo:</label>
      <div class="col-sm-10">
        <input name="indirizzo" type="text" class="form-control" required value="{{indirizzo}}" [(ngModel)]="indirizzo" />
      </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="numPlace">Numero Posti:</label>
      <div class="col-sm-10">
        <input name="numPlace" type="number" class="form-control" required value="{{numPlace}}" [(ngModel)]="numPlace" />
      </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="numBike">Numero Bici:</label>
      <div class="col-sm-10">
        <input name="numBike" type="number" class="form-control" required value="{{numBike}}" [(ngModel)]="numBike" />
      </div>
  </div>
  </div><!-- end content form -->

  <!-- div pulsanti -->
  <div class="form-group">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-3">
        <button class="btn btn-default" (click)="close()">Close</button>
      </div>
      <div class="col-sm-offset-1 col-sm-3">
        <button class="btn btn-primary" (click)="updateRack()">{{valbutton}}</button>
      </div>
      <div class="col-sm-offset-1 col-sm-3">
        <button class="btn btn-primary" (click)="insertRack()">Insert</button>
      </div>
      <div class="col-sm-offset-1 col-sm-3">
        <button class="btn btn-danger" (click)="deleteRack()">Delete</button>
      </div>
    </div>
  </div>

</form> <!-- end form -->
</div> <!-- end content body -->

</body>
</html>
