<div class="table-container" style="overflow: auto;">
  <table class="table">
    <thead>
      <tr>
        <td>Id</td>
        <td>Data</td>
        <td>Utente</td>
        <td>Bici</td>
        <td>Tempo Inizio</td>
        <td>Tempo Fine</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let kk of repData;let ind = index">
        <td>{{ind + 1}}</td>
        <td>{{kk.data}}</td>
        <td>{{kk.nomeUtente}}</td>
        <td>{{kk.nomeBici}}</td>
        <td>{{kk.timeInit}}</td>
        <td>{{kk.timeEnd}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <button (click)="goBack()">go back</button>
</div>
