<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body> <!-- aggiunto-->
  <h2>Register</h2>
<div class="container">
<form [formGroup]="registerForm"  (ngSubmit)="onSubmit()" novalidate>
  <div class="form-content"> <!-- aggiunto-->
    <div class="form-group">
        <input type="text" formControlName="nomeUtente" placeholder="Nome"
        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nomeUtente.errors }" />
        <div *ngIf="submitted && f.nomeUtente.errors" class="invalid-feedback">
            <div *ngIf="f.nomeUtente.errors.required">Nome utente richiesto</div>
        </div>
    </div>
    <div class="form-group">
      <show-hide-password size="lg" icon="entypo">
          <input type="password" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
      </show-hide-password>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password richiesta</div>
      </div>
    </div>

  </div> <!-- aggiunto-->
  <div class="form-group">
    <div class="col-sm-10">
      <input type="submit" class="btn btn-primary" value="Register"/>
    </div>
  </div>
</form>
</div>
</body>
