<body>
<div class="container">
  <!-- pulsanti navigazione -->
  <div class="container row">
    <button mat-icon-button (click)="goBack()">
      <mat-icon aria-label="Example icon-button with a heart icon">arrow_back_ios</mat-icon>
    </button>
    <h1>{{ 'RESERVATION_LIST' | translate }}</h1>
  </div>

  <div class="table-container" style="overflow: auto;">
    <table class="table">
      <thead>
        <tr>
          <th>{{ 'NUM' | translate }}</th>
          <th>{{ 'DATE' | translate }}</th>
          <th>{{ 'USER' | translate }}</th>
          <th>{{ 'BIKE' | translate }}</th>
          <th>{{ 'START' | translate }}</th>
          <th>{{ 'END' | translate }}</th>
          <th>{{ 'FROM' | translate }}</th>
          <th>{{ 'TO' | translate }}</th>
          <th>{{ 'TOT_KM' | translate }}</th>
          <th>{{ 'TIME' | translate }}</th>
          <th>{{ 'PRICE' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kk of rents;let ind = index">
          <td>{{ind + 1}}</td>
          <td>{{kk.data}}</td>
          <td>{{kk.nameUser}}</td>
          <td>{{kk.codeBike}}</td>
          <td>{{kk.timeInit}}</td>
          <td>{{kk.timeEnd}}</td>
          <td>{{kk.fromRack}}</td>
          <td>{{kk.toRack}}</td>
          <td>{{kk.totKm}}</td>
          <td>{{kk.tempo}}</td>
          <td>{{kk.costo}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ 'TOTAL' | translate }}: </td>
          <td>{{totKm}}</td>
          <td>{{totTempo}}</td>
          <td>{{totCosto}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
