<!doctype html>
<html lang="en">
<head>
<title>View Rent Component</title>
<meta charset="utf-8">
</head>

<body>
<div class="container">
  <!-- pulsanti navigazione -->
  <div class="container row">
    <button mat-icon-button (click)="goBack()">
      <mat-icon aria-label="Example icon-button with a heart icon">arrow_back_ios</mat-icon>
    </button>
    <h1>Lista prenotazioni</h1>
  </div>

  <div class="table-container" style="overflow: auto;">
    <table class="table">
      <thead>
        <tr>
          <td>Num</td>
          <td>Data</td>
          <td>Utente</td>
          <td>Bici</td>
          <td>Inizio</td>
          <td>Fine</td>
          <td>Da</td>
          <td>A</td>
          <td>TotKm</td>
          <td>Tempo</td>
          <td>Costo</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kk of rents;let ind = index">
          <td>{{ind + 1}}</td>
          <td>{{kk.data}}</td>
          <td>{{kk.nameUser}}</td>
          <td>{{kk.codeBike}}</td>
          <td>{{kk.timeInit}}</td>
          <td>{{kk.timeEnd}}</td>
          <td>{{kk.fromRack}}</td>
          <td>{{kk.toRack}}</td>
          <td>{{kk.totKm}}</td>
          <td>{{kk.tempo}}</td>
          <td>{{kk.costo}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Totali: </td>
          <td>{{totKm}}</td>
          <td>{{totTempo}}</td>
          <td>{{totCosto}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
