<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
<form class="form-horizontal" #bikeForm="ngForm"   (ngSubmit)="onSave(bikeForm.value)" novalidate>

  <p>Is "myForm" valid? {{bikeForm.valid}}</p>
  <div class="form-content">
    <!-- <div class="form-inline"> -->

      <div class="form-group">
      <label class="control-label col-sm-2" for="name">Codice:</label>
        <div class="col-sm-10">
          <input name="Id" type="hidden" class="form-control"    [(ngModel)]="_id" />
          <input name="nome" type="text" class="form-control" required  [(ngModel)]="codice"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="latitudine">Latitudine:</label>
          <div class="col-sm-10">
            <input name="latitudine" required class="form-control" type="number" required  [(ngModel)]="latitudine"/>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" for="longitudine">Longitudine:</label>
            <div class="col-sm-10">
              <input name="longitudine" required class="form-control" type="number" required [(ngModel)]="longitudine"/>
            </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" for="longitudine">Stato:</label>
            <div class="col-sm-10">
              <input name="stato" required class="form-control" type="text" required [(ngModel)]="stato"/>
            </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" for="longitudine">Rack:</label>
            <div class="col-sm-10">
              <input name="rack" required class="form-control" type="text" required [(ngModel)]="rack"/>
            </div>
      </div>

    <!-- </div> -->
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary" value="{{valbutton}}" />
    </div>
  </div>
</form>

<a [routerLink]="['/view','admin']" routerLinkActive="active">View Component</a>

</div> <!-- temp: da rimuoberw -->

</body>
