<!doctype html>
<html lang="en">
<head>
<title>Edit Bike Component</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  agm-map {
    width: 100%;
    height: 50vh;
  }

  /* css mappa */
  #mapView {
    margin-top: 2%;
    margin-bottom: 2%;

    padding-top: 2%;
    padding-bottom: 2%;
  }

  .form-horizontal {
    text-align: left;
  }
  </style>
</head>
<body>

<div class="container">

  <!-- pulsanti navigazione -->
  <div class="container">
    <button (click)="goBack()">Back</button>
  </div>

  <!-- titolo -->
  <div class="titolo">
    <h1>Edit Bike: {{curBike.codice}}</h1>
    <button *ngIf="showMap" (click)="toggleMap()">Dati</button>
    <button *ngIf="!showMap" (click)="toggleMap()">Mappa</button>
  </div>

<!-- mappa localizzazione bici -->
<div *ngIf="showMap" class="map-responsive" id="mapView">
  <agm-map [latitude]="latitudine" [longitude]="longitudine"
  [zoom]="zoom" [fullscreenControl]='true' [mapTypeControl]='true'>
    <agm-marker
    [label]="curBike.codice" [latitude]="curBike.latitudine" [longitude]="curBike.longitudine"
    [markerDraggable]="true"
    (dragEnd)="dragBike($event, curBike)"
    (markerClick)="dialogBike(curBike)"
    color="black"
    [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/green-dot.png'">

  </agm-marker>
  </agm-map>
</div>

<!-- form dati bici -->
<form class="form-horizontal" #bikeEdit="ngForm" novalidate>

  <div class="form-content"> <!-- form content -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="codice">Codice:</label>
        <div class="col-sm-10">
          <input name="codice" type="text" class="form-control" required value="{{codice}}" [(ngModel)]="codice" />
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="stato">Stato:</label>
        <div class="col-sm-10">
          <input name="stato" type="text" class="form-control" required value="{{stato}}" [(ngModel)]="stato" />
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="rack">Rack:</label>
        <div class="col-sm-10">
          <input name="rack" type="text" class="form-control" required value="{{rack}}" [(ngModel)]="rack" />
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="rack">Kilometri:</label>
        <div class="col-sm-10">
          <input name="totKm" type="text" class="form-control" required value="{{totKm}}" [(ngModel)]="totKm" />
        </div>
    </div>
  </div><!-- end content form -->

  <!-- div pulsanti -->
  <div class="container">
    <button  (click)="goBack()">Close</button>
    <button  (click)="updateBike()">Update</button>
    <button  (click)="insertBikek()">Insert</button>
    <button (click)="deleteBike()">Delete</button>
  </div>

</form> <!-- end form -->
</div> <!-- end content body -->

</body>
</html>
