<!--<!doctype html>
<html lang="en">
<head>
<title>Lista commenti</title>
<meta charset="utf-8">

</head>-->

<body>
<div class="container">

  <!-- pulsanti navigazione -->
  <div class="container row">
    <button mat-icon-button (click)="goBack()">
      <mat-icon aria-label="Example icon-button with a heart icon">arrow_back_ios</mat-icon>
    </button>
    <!-- titolo -->
    <h1>{{ 'COMMENTS_LIST' | translate }} {{codeBike}}</h1>
  </div>

  <div class="table-container" style="overflow: auto;">
    <table class="table">
      <thead>
        <tr>
          <td>{{ 'DATE' | translate }}</td>
          <td>{{ 'USER' | translate }}</td>
          <td>{{ 'BIKE' | translate }}</td>
          <td>{{ 'TEXT' | translate }}</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kk of comments;let ind = index">
          <td>{{kk.data}}</td>
          <td>{{kk.nameUser}}</td>
          <td>{{kk.codeBike}}</td>
          <td>{{kk.testo}}</td>
        </tr>
        <tr *ngIf="comments.length == 0">
          <td colspan="4">{{ 'NO_COMMENT' | translate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>