<!doctype html>
<html lang="en">
<head>
<title>Lista commenti</title>
<meta charset="utf-8">
</head>

<body>
<div class="container">
  <!-- pulsanti navigazione -->
  <div class="container">
    <button (click)="goBack()">Back</button>
  </div>

  <h1>Lista commenti</h1>

  <div class="table-container" style="overflow: auto;">
    <table class="table">
      <thead>
        <tr>
          <td>Num</td>
          <td>Data</td>
          <td>Utente</td>
          <td>Bici</td>
          <td>Testo</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kk of comments;let ind = index">
          <td>{{ind + 1}}</td>
          <td>{{kk.data}}</td>
          <td>{{kk.nameUser}}</td>
          <td>{{kk.codeBike}}</td>
          <td>{{kk.testo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
