/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
md-select, .mat-select-placeholder, .mat-select-trigger {
  color:white !important;
}
.alertDialog {
  width: 30%;
  height: 30%; }
@media (max-width: 991px) {
	.alertDialog {
    	width: 100vw;
    	height: 30%; 
	} 
}

.commentDialog{
	width: 30%;
  	height: 50%;
}
@media (max-width: 991px) {
	.commentDialog {
    	width: 100vw;
    	height: 50%; 
	} 
}

.bikeDialog{
	width: 40%;
  	height: 95%;
}
@media (max-width: 991px) {
	.bikeDialog {
    	width: 100vw;
    	height: 95%; 
	} 
}

.rentDialog{
	width: 30%;
}
@media (max-width: 991px) {
	.rentDialog {
    	width: 100vw;
	} 
}

.viewDialog{
	width: 25%;
  	height: 60%;
}
@media (max-width: 991px) {
	.viewDialog {
    	width: 100vw;
    	height: 60%; 
	} 
}

.editDialog{
	width: 30%;
  	height: 80%;
}
@media (max-width: 991px) {
	.editDialog {
    	width: 100vw;
    	height: 80%; 
	} 
}