<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          {{ 'VIEW_TITLE' | translate }}
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<mat-accordion class="example-headers-align">

  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" (closed)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'MAP' | translate }}
      </mat-panel-title>
      <mat-panel-description>
        {{ 'SELECT_THROUGH_MAP' | translate }}
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div #gmap *ngIf="showMap" class="map-responsive" id="mapView">
      <div>
        <img src="../../../assets/images/icons/baseline-local_parking-black-36/1x/baseline_local_parking_black_36dp.png">
        {{ 'BIKE_PARKING' | translate }} 
        <img src="../../../assets/images/icons/baseline-person_pin_circle-black-36/1x/baseline_person_pin_circle_black_36dp.png">
        {{ 'USER_POSITION' | translate }}
      </div>
      <!--[label]="rack.codice" -->
      <agm-map #gm [latitude]="latitudine" [longitude]="longitudine" [zoom]="zoom" [fullscreenControl]='true' [mapTypeControl]='true'>
        <agm-marker *ngFor="let rack of rackes; let ind = index"
          [latitude]="rack.latitudine"
          [longitude]="rack.longitudine"
          [markerDraggable]="isAdmin"
          (dragEnd)="dragRack($event, rack)"
          (markerClick)="infoRack(rack)"
          (mouseOver)="onMouseOver(infoWindow,gm)"
          color="white"
          [iconUrl]="'../../../assets/images/icons/baseline-local_parking-black-36/1x/baseline_local_parking_black_36dp.png'">
          <agm-info-window [disableAutoPan]="false" #infoWindow>
            {{ 'PARKING' | translate }}: {{rack.codice}}
            <br>
            {{ 'N_BIKE' | translate }}: {{rack.numBike}}
            <br>
            {{ 'FREE_SPOTS' | translate }}: {{rack.numPlace - rack.numBike}}
          </agm-info-window>
        </agm-marker>

        <!-- Marcatore  user-->
        <!-- color="white"
        [label]="labelUserOptions" -->
        <agm-marker
        *ngIf="userLat > 0 && userLong > 0"
        [latitude]="userLat"
        [longitude]="userLong"
        [markerDraggable]="false"
        
        [iconUrl]="'../../../assets/images/icons/baseline-person_pin_circle-black-36/1x/baseline_person_pin_circle_black_36dp.png'"></agm-marker>

      </agm-map>
    </div>

    <mat-action-row>
      <div class="btn-container">
        <!--<button mat-button (click)="rackList()">{{ 'PARKING' | translate }}</button>
        <button mat-button *ngIf="!isAdmin" (click)="preleva()">{{ 'BORROW' | translate }}</button>
        <button mat-button *ngIf="!isAdmin" (click)="rilascia()">{{ 'RELEASE' | translate }}</button>-->

        <!--<button mat-button (click)="getUserLocation()">{{ 'GEOLOCALIZATION' | translate }}</button>-->
        <button mat-button (click)="rentList()">{{ 'RESERVATIONS' | translate }}</button>
        <button mat-button (click)="commentList()">{{ 'COMMENTS' | translate }}</button>
      </div>
      <div class="btn-mobile-container">
        <!--<button mat-icon-button matTooltip="Parcheggi" (click)="rackList()">
          <mat-icon>local_parking</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!isAdmin" (click)="preleva()">
          <mat-icon>lock_open</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!isAdmin" (click)="rilascia()">
          <mat-icon>lock</mat-icon>
        </button>-->
        <button mat-icon-button (click)="rentList()">
          <mat-icon>list_alt</mat-icon>
        </button>
        <button mat-icon-button (click)="commentList()">
          <mat-icon>comment</mat-icon>
        </button>
      </div>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" (closed)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'LIST' | translate }}
      </mat-panel-title>
      <mat-panel-description>
        {{ 'SELECT_THROUGH_LIST' | translate }}
        <mat-icon>list</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="table-container">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ 'ID' | translate }}</th>
            <th>{{ 'CODE' | translate }}</th>
            <th>{{ 'ADDRESS' | translate }}</th>
            <th>{{ 'N_BIKE' | translate }}</th>
            <th>{{ 'N_SPOT' | translate }}</th>
            <th *ngIf="isAdmin">{{ 'EDIT' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rack of rackes;let ind = index" (click)="selectRack(rack)">

            <td>{{ind + 1}}</td>
            <td>{{rack.codice}}</td>
            <td>{{rack.indirizzo}}</td>
            <td>{{rack.numBike}}</td>
            <td>{{rack.numPlace}}</td>

            <td *ngIf="isAdmin">
              <button type="button" class="btn btn-primary btn-sm" (click)="editRack(rack)">{{ 'EDIT' | translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
     </div>
    <mat-action-row>
      <div class="btn-container">
        <!--<button mat-button (click)="rackList()">{{ 'PARKING' | translate }}</button>
        <button mat-button *ngIf="!isAdmin" (click)="preleva()">{{ 'BORROW' | translate }}</button>
        <button mat-button *ngIf="!isAdmin" (click)="rilascia()">{{ 'RELEASE' | translate }}</button>-->
        <button mat-button (click)="rentList()">{{ 'RESERVATIONS' | translate }}</button>
        <button mat-button (click)="commentList()">{{ 'COMMENTS' | translate }}</button>
      </div>
      <div class="btn-mobile-container">
        <!--<button mat-icon-button (click)="rackList()">
          <mat-icon>local_parking</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!isAdmin" (click)="preleva()">
          <mat-icon>lock_open</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!isAdmin" (click)="rilascia()">
          <mat-icon>lock</mat-icon>
        </button>-->
        <button mat-icon-button (click)="rentList()">
          <mat-icon>list_alt</mat-icon>
        </button>
        <button mat-icon-button (click)="commentList()">
          <mat-icon>comment</mat-icon>
        </button>
      </div>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>