<!doctype html>
<html lang="en">
<head>
<title>View Component</title>
<meta charset="utf-8">
</head>
<style>
agm-map {
  height: 200px;
}
</style>
<body>
<div class="container">
  <div class="table-container" style="overflow: auto;">
    <table class="table">
      <thead>
        <tr>
          <td>Id</td>
          <td>Nome</td>
          <td>Latitudine</td>
          <td>Longitudine</td>
          <td *ngIf="!isAdmin">Prenotazione</td>
          <td *ngIf="isAdmin">Edit</td>
          <td>Informazioni aggiuntive</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kk of Repdata;let ind = index">

          <td>{{ind + 1}}</td>
          <td>{{kk.nome}}</td>
          <td>{{kk.latitudine}}</td>
          <td>{{kk.longitudine}}</td>

          <td *ngIf="!isAdmin"><a (click)="prenota(kk._id)" style="color:blueviolet"></a>Prenota</td>
          <td *ngIf="isAdmin"><a [routerLink]="['/edit', kk._id, kk.nome, kk.latitudine, kk.longitudine]" routerLinkActive="active"
            style="color:blueviolet">Edit</a></td>

          <td><a [routerLink]="['/detail', ind]" routerLinkActive="active">info</a></td>
        </tr>
      </tbody>
    </table>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]=52.00 [longitude]=7.00></agm-marker>
      <agm-marker [latitude]=52.00 [longitude]=7.20></agm-marker>
      <agm-marker [latitude]=52.00 [longitude]=7.30></agm-marker>
    </agm-map>
  </div>
    <a *ngIf="isAdmin" [routerLink]="['/ins']" routerLinkActive="active">Inserimento</a>
  <button (click)="goBack()">go back</button>
</div>

</body>
</html>
