<style>
/* css alla men peggio */
  .formInput {
    display: flex;
    flex-direction: column;
  }
</style>

<div class="container">
  <h1 mat-dialog-title>Info rack: {{data.rack.codice}}</h1>
  <div mat-dialog-content>
    <div class="formInput">
      <mat-form-field>
        <label>Codice:</label>
        <input matInput [(ngModel)]="data.rack.indirizzo">
      </mat-form-field>
      <mat-form-field>
        <label>N. bici:</label>
        <input matInput [(ngModel)]="data.rack.numBike">
      </mat-form-field>
      <mat-form-field>
        <label>N. posti:</label>
        <input matInput [(ngModel)]="data.rack.numPlace">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onClose()">Close</button>
    <button mat-button (click)="onSelect()">Seleziona</button>
  </div>
</div>
