<!doctype html>
<html lang="en">
<head>
<title>View Component</title>
<meta charset="utf-8">
</head>
<style>
agm-map {
  height: 200px;
}
</style>
<body>
<div class="container">
  <div class="table-container" style="overflow: auto;">
    <table class="table">
      <thead>
        <tr>
          <td>Id</td>
          <td>Nome</td>
          <td>Latitudine</td>
          <td>Longitudine</td>
          <td *ngIf="!isAdmin">Prenotazione</td>
          <td *ngIf="isAdmin">Edit</td>
          <td>Informazioni aggiuntive</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kk of Repdata;let ind = index">

          <td>{{ind + 1}}</td>
          <td>{{kk.nome}}</td>
          <td>{{kk.latitudine}}</td>
          <td>{{kk.longitudine}}</td>

<!--          <td *ngIf="!isAdmin && kk.stato == 'libero'"><a (click)="prenota(kk._id)" style="color:blueviolet">Prenota</a></td> -->
          <!-- (click)="prenota(kk._id)" -->
          <td *ngIf="!isAdmin && kk.stato == 'libero'">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="color:blueviolet">Prenota</button>
          </td>
          <td *ngIf="!isAdmin && kk.stato != 'libero' && kk.stato != nameUser"><a style="color:red">Non puoi prenotare</a></td>
          <td *ngIf="!isAdmin && kk.stato == nameUser"><a style="color:green" (click)="rilascia(kk._id)">Rilascia la bici</a></td>
          <td *ngIf="isAdmin"><a [routerLink]="['/edit', kk._id, kk.nome, kk.latitudine, kk.longitudine, kk.stato]" routerLinkActive="active"
            style="color:blueviolet">Edit</a></td>

          <td><a [routerLink]="['/detail', kk._id, kk.nome, kk.latitudine, kk.longitudine, kk.stato]" routerLinkActive="active">info</a></td>
        </tr>
      </tbody>
    </table>

<!--
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
-->

  </div>

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker *ngFor="let kk of Repdata;let ind = index" [latitude]="kk.latitudine"
        [longitude]="kk.longitudine" [label]="kk.nome" color="blue"></agm-marker>
  </agm-map>

  <div>
    <a *ngIf="isAdmin" [routerLink]="['/ins']" routerLinkActive="active">Inserimento</a>
    <button (click)="goBack()">go back</button>
  </div>

</div>

</body>
</html>
